body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

small {
    font-size: 14px;
}

.card,
.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2em;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-large {
    color: #221879;
    font-size: 28px;
}

.text-center {
    text-align: center;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-top-64 {
    margin-top: 64px;
}

#top-menu {
    width: 100%;
    background-color: #221879;
    color: #fff;
}

#top-menu-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem;
}

#top-menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#top-menu-nav a {
    color: #f5f5f5;
    margin: 0 16px;
    text-decoration: none;
}

#top-menu-nav a:hover {
    color: #fff;
    margin: 0 16px;
    font-weight: bolder;
    border-bottom: 2px;
    border-bottom-style: double;
}

#dev-info {
    display: flex;
    flex-direction: column;
}

#title-card {
    display: inline-flex;
}

#about-me-section {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 2rem;
}

#text-info {
    margin: 0 1em;
}

#skills-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4rem;

}

#skills-text {
    border-bottom: 4px #221879 solid;
}

.tech-logo-img-container {
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tech-logo {
    width: 200px;
    min-height: auto;
}

#projects-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.project-item {
    margin-left: 2em;
}